@model Player
@{
    List<Player> playerList = ViewBag.currPlayers;
    @foreach(Player player in playerList)
    {
    @using (Html.BeginForm("MainPlayerView", "Players", FormMethod.Post))
{
    <input style="visibility:hidden;position:absolute;" asp-for="Id" type="text" value="@player.Id">
    <button class="playerContainer" type="submit" id="cmdAction" runat="server">
                @player.Name<br>@player.Health<br>@player.ClassId<br>
    </button>
}



    }


}

