 @model RpgGame.Models.Player  
 <h1>Create your new character</h1>
        <form asp-action="CreatePlayer">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClassId" class="control-label"></label>
                            <select asp-for=ClassId>
                            @foreach(Classes PlayerClass in ViewBag.classes){
                                <option value=@PlayerClass.Id>@PlayerClass.Name | @PlayerClass.Power</option>
                            }
                            </select>
                            <span asp-validation-for="ClassId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Zarejestruj" class="btn btn-primary" />
                        </div>
                    </form>