html,body{
    margin:0;
}

.flex-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width:100%;
    height:100%;
}

.flex-item {
    border-radius: 20px;
    width: 30% !important;
    height: 60% !important;
    background-color: dimgray;
    border: 1px solid black;
}
h1{
    color:white;
    text-align:center;
}